name: CI/CD Node App to Windows EC2

on:
  push:
    branches:
      - main  # deploy on push to main branch

jobs:
  deploy:
    runs-on: ubuntu-latest  # Actions run in GitHub
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to Windows EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # PowerShell commands
            Write-Host "Updating Node app on Windows EC2..."
            cd C:\websites\simple-node-api.git
            git pull origin main
            Write-Host "Code updated successfully."
