name: Secure CI/CD via AWS SSM (Windows EC2)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy using AWS SSM
        run: |
          aws ssm send-command \
            --instance-ids i-024c086ae4ae92d4c \
            --document-name "AWS-RunPowerShellScript" \
            --comment "GitHub Actions CI/CD deploy" \
            --parameters commands='[
              "cd C:\\websites\\simple-node-api",
              "git reset --hard",
              "git pull origin main"
            ]'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
